@charset "UTF-8";
@import "common.css";
/*ログイン*/
.login_box{
	width:300px;
	height:150px;
	border: 1px solid #000000;
	border-radius:20px;
	margin: 0 auto;
}
/*ログインボタン*/
.login_button{
	width:150px;
	height: 30px;
	margin-left:50px;
	border: 1px solid#68779a;
	background: #cbe8fa;
	cursor: pointer;
}
/*登録用ボックスライン*/
.register_box{
	width: 400px;
	height: 150px;
	border : 1px solid #0000ff;
	margin : 0 auto;
}
/*条件用ボックスライン*/
.jyouken_box{
	width: 500px;
	height: 100px;
	border: 1px solid #ff0000;
	border-radius:20px;
	margin: 0 auto;
}

/*条件用テーブル 位置*/
.jyouken_table{
	margin-left:50px;
	margin-top: 20px;
}

/*メニュー 検索ボタン*/
.find_button{
	width: 150px;
	height: 30px;
	margin-top: 30px;
	margin-left: 70px;
	border: 1px solid #68779a;
	background: #66ff33;
	cursor: pointer;
}
/*メニュー 一覧ボタン*/
.list_button{
	width: 150px;
	height: 30px;
	margin-top: 30px;
	margin-left: 70px;
	border: 1px solid #68779a;
	background: #66ff33;
	cursor: pointer;
}





































